/* set border-box (so that css uses a more reasonable box model, and so it’s like every other platform) */
*, *::before, *::after { 
    box-sizing: border-box;
}

/* get rid of default margins which vary depending on browser anyway, just set it yourself later*/
* {
    margin: 0;
}

/* media elements are replaced elements which have a width based on the media, so we prevent it from expanding beyond its container, and take up a row */
img, picture, video, canvas, svg { 
    display: block;
    max-width: 100%;
}

/* make tables look like spreadsheets and less like a spaced-out grid */
table { 
    border-collapse: collapse; border-spacing: 0;
}

a { 
    text-decoration: none;
    color: black;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    border-style: solid;
    margin: 60px 0px;
    cursor: pointer;
    height: 60px;
    font-family: neue-haas-grotesk-display;
}

.home-flex-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
    height: 100vh;
    width: 100%;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bolder;
}

.home-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.home-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
}

.home-introduction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-self: center;
    margin-top: 150px;
    font-family: neue-haas-grotesk-display;
}

.home-introduction-text-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    min-width: 600px;
    min-height: 70px;
    font-size: 30px;
    font-weight: 700;
    text-underline-position: under;
}