/* set border-box (so that css uses a more reasonable box model, and so it’s like every other platform) */
*, *::before, *::after { 
    box-sizing: border-box;
}

/* get rid of default margins which vary depending on browser anyway, just set it yourself later*/
* {
    margin: 0;
}

/* media elements are replaced elements which have a width based on the media, so we prevent it from expanding beyond its container, and take up a row */
img, picture, video, canvas, svg { 
    display: block;
    max-width: 100%;
}

/* make tables look like spreadsheets and less like a spaced-out grid */
table { 
    border-collapse: collapse; border-spacing: 0;
}

a { 
    text-decoration: none;
    color: black;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    border-style: solid;
    margin: 60px 0px;
    cursor: pointer;
    height: 60px;
}

.works-flex-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bolder;
}

.works-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.works-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
}

.works-introduction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 80px;
    margin-top: 150px;
}

.works-introduction-title-section {
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 700;
    font-family: Georgia, serif;
}

.works-introduction-text-section {
    font-size: 25px;
    font-family: neue-haas-grotesk-text;
    font-weight: 500;
    max-width: 1200px;
    line-height: 1.4;
}

.works-section {
    display: flex;
    flex-flow: row wrap;
    max-width: 150rem;
    margin-top: 20%;
    margin-bottom: 80px;
}

.work {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 2rem 9rem 12rem 0rem;
}


.work-description {
    width: 35rem;
    height: 20rem;
    background: none;
    border: 1px solid #ccc;
}

.work-image {
    width: 35rem;
    height: auto;
}

.grow img{
    transition: 1s ease;
}
    
.grow img:hover{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    transition: 1s ease;
}

.blur img{
    transition: 1s ease;
}
    
.blur img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
}