/* set border-box (so that css uses a more reasonable box model, and so it’s like every other platform) */
*, *::before, *::after { 
    box-sizing: border-box;
}

/* get rid of default margins which vary depending on browser anyway, just set it yourself later*/
* {
    margin: 0;
}

/* media elements are replaced elements which have a width based on the media, so we prevent it from expanding beyond its container, and take up a row */
img, picture, video, canvas, svg { 
    display: block;
    max-width: 100%;
}

/* make tables look like spreadsheets and less like a spaced-out grid */
table { 
    border-collapse: collapse; border-spacing: 0;
}

a { 
    text-decoration: none;
    color: black;
}

button {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 30px;
    border-style: solid;
    margin: 60px 0px;
    cursor: pointer;
    height: 60px;
}

.works-flex-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    height: 100%;
    width: 100%;
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bolder;
}

.works-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.works-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 400px;
}

.works-introduction {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 80px;
    margin-top: 200px;
}

.works-introduction-title-section {
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 700;
    font-family: Georgia, serif;
    color: white;
}

.works-introduction-text-section {
    font-size: 25px;
    font-family: neue-haas-grotesk-text;
    font-weight: 500;
    max-width: 65%;
    line-height: 1.4;
    color: white;
}

.works-section {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    align-items: center;
    max-width: 100%;
    margin-top: 22%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.work {
    display: flex;
    flex-direction: column;
    max-width: 22em;
    margin: 2rem 0rem 12rem 0rem;
    background: hsla(0,0%,11.37%,1);
    border-radius: 5%;
}


.work-description {
    width: 22em;
    height: 25rem;
    border-radius: 5%;
}

.work-image {
    height: auto;
    border-radius: 5%;
}

.grow img{
    transition: 1s ease;
}
    
.grow img:hover{
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    transition: 1s ease;
}

.blur img{
    transition: 1s ease;
}
    
.blur img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
}